
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 75%;
}

.post-full {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.post-user-profile {
  float: left;
  margin-right: 10px;
}
