
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 75%;
}

.post-full {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.post-header {
  margin-bottom: 10px;
}

.post-user-profile {
  float: left;
  width: 120px;
  margin-right: 10px;
}

.post-user-profile .profile,
.post-user-profile .profile .user-picture,
.post-user-profile .user-picture img {
  margin: 0;
}

.post-left-offset {
  margin-left: 130px;
}

ul.post-links,
.region-content ul.post-links,
ul.post-links li.first {
  padding-left: 0;
}

ul.post-links {
  opacity: 0.8;
}

.post:hover ul.post-links {
  opacity: 1;
}

.flag-harmony-likes a:hover {
  text-decoration: none;
}

.flag-harmony-likes a .count,
.flag-harmony-likes a:hover .count {
  color: #3b3b3b;
}

.flag-harmony-likes a:hover .text {
  text-decoration: underline;
}


